#### FIVEM DEFAULT ####
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure baseevents
ensure yarn
ensure serverdata
ensure monitor
stop webadmin

#### SYNC ####
ensure mysql-async
ensure async
ensure esx_jail

#### ESSENTIAL ####
ensure es_extended
ensure es_admin2

#### ESX MENU #####
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog

#### LIBS ####
ensure InteractSound
ensure bob74_ipl
ensure teleport_point
ensure warmenu
ensure cron
ensure progressbar

#### STREAMING ####
# CAR
ensure vehicle

# CLOTHES
ensure vetement

# MAP
ensure mapping
ensure parking_central
ensure mapping_custom
ensure lks_gldhs
ensure ballasint
ensure marabuntaint
ensure boutique_modernhouse
#ensure sherif
ensure hospital
#ensure tribunal
ensure beanmachine
ensure vagosint
ensure cayo_perico_load
#ensure Douane
#ensure labo2v1
ensure maps
ensure screen
ensure screen-admin
#ensure mapchrist
#ensure cardealer

#### MODE PASSE
#ensure Rocade_PredatorRP
ensure esx_logs

#### FIRST ESX ####
ensure esx_addons_gcphone
ensure gcphone
ensure esx_service
ensure esx_status
ensure esx_shops
ensure esx_identity
ensure esx_jb_advanced_truck_inventory
ensure esx_vehiclelock
ensure dpemotes
ensure dpclothing

#### ESX ECON ####
ensure instance
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_datastore
ensure esx_billing
ensure esx_society
ensure esx_license
ensure new_banking
ensure esx_bennys2
ensure ml_ratelimit
ensure DiscordAPI
#ensure red_admin
ensure admin
ensure aCore
#ensure RageUI


#### ESX PED ####
ensure skinchanger
ensure esx_clotheshop
ensure esx_accessories
ensure esx_barbershop
ensure esx_tattoosShops
ensure esx_weashopsplus

#### KORIOZ ####
ensure korioz

#### ESX JOBS ####
ensure esx_taxijob
ensure esx_policejob
ensure esx_ambulancejob
ensure esx_realestateagentjob
ensure esx_property
ensure esx_mecanojob
ensure esx_journaliste
ensure esx_unicornjob
ensure esx_vigneronjob
ensure esx_avocatjob
ensure esx_vehicleshop
ensure esx_avocatjob
ensure GangsBuilder
ensure JobsBuilder
ensure jobs_civil

#### ESX OTHER ####
ensure esx_advancedgarage
ensure esx_discord_bot
ensure esx_rpchat
ensure esx_repairkit
ensure esx_ktackle
ensure esx_armour
ensure esx_clipshop
#ensure mumble-voip
#ensure rp-radio
ensure esx_moneywash
ensure esx_AdvancedFuel
ensure esx_dmvschool
ensure esx_casadepapel
ensure esx_location
ensure esx_drugs

#### AUTRE ####
ensure loadingscreen
#ensure loadingscreens
ensure lockedDoors
ensure farming
ensure seatbelt
ensure speedometer
ensure krz_handcuff
#ensure red_hud
ensure tempui
ensure PiggyBack
ensure cv_control
ensure jsfour-idcard
ensure dix-oblivionpill
ensure krz_personalmenu
ensure esx_methskits
ensure banSQL
ensure weapons
#ensure NoReticle
ensure simpledrift
ensure sirenes
ensure rp-radio
ensure pma-voice
#ensure goulag

#ensure WeeLee

ensure esx_weedkit
ensure shop
#ensure boutique2