* {
	padding: 0;
	margin: 0;
	font-family: bebas_neuelight;
}

strong {
	font-family: bebas_neueregular;
	font-weight: 400;
}

#infos {
	position: absolute;
	top: 45px;
	right: 15px;
	width: 235px;
}

.info img.badge {
	position: absolute;
	height: 32px;
	width: 32px;
	float: left;
	margin-left: -32px;
}

.info .container {
	position: relative;
	width: 235px;
	height: 32px;
	margin-bottom: 5px;
	background-color: rgba(46, 46, 46, 0.6);
}

.info .container .state {
	position: absolute;
	overflow: hidden;
	width: 225px;
	top: 6px;
	left: 10px;
	color: #d2d2d2;
	font-size: 18px;
	white-space: nowrap;
	letter-spacing: 1px;
	text-align: left;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 2px black;
}

.info .container .bar {
	position: absolute;
	height: 1px;
	width: 267px;
	top: 31px;
	left: -32px;
}

.info .container #cash.bar {
	background: linear-gradient(90deg, rgba(158,0,0) 0%, rgba(158,0,0) 40%, rgba(158,0,0) 60%, rgba(158,0,0) 100%);
}

.info .container #dirtycash.bar {
	background: linear-gradient(90deg, rgba(158,0,0) 0%, rgba(158,0,0) 40%, rgba(158,0,0) 60%, rgba(158,0,0) 100%);
}

.info .container #bank.bar {
	background: linear-gradient(90deg, rgba(158,0,0) 0%, rgba(158,0,0) 40%, rgba(158,0,0) 60%, rgba(158,0,0) 100%);
}

.info .container #job.bar {
	background: linear-gradient(90deg, rgba(158,0,0) 0%, rgba(158,0,0) 40%, rgba(158,0,0) 60%, rgba(158,0,0) 100%);
}

.info img.subbadge {
	position: absolute;
	height: 12px;
	width: 12px;
	float: left;
	margin-left: 14px;
	margin-top: 4px;
}

.info .container .subcontainer {
	position: absolute;
	height: 20px;
	width: 200px;
	left: 35px;
	top: 32px;
	background: url(../img/job2bar.png);
}

.info .container .subcontainer .state {
	position: absolute;
	overflow: hidden;
	font-size: 12px;
	top: 3px;
	left: 32px;
	width: 121px;
	white-space: nowrap;
	letter-spacing: 1px;
	text-overflow: ellipsis;
}

#statuts {
	display: grid;
	position: absolute;
	float: left;
	text-align: right;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px 25px;
	bottom: 10px;
	right: 15px;
	width: 229px;
}

.statut img.icon {
	position: relative;
	height: 12px;
	width: 12px;
	float: left;
	left: -15px;
	filter: drop-shadow(0px 0px 1px black);
}

.statut .container {
	position: relative;
	height: 12px;
	border-radius: 7px;
	background-color: #00000096;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.statut .container .state {
	display: block;
	position: relative;
	height: 10px;
	max-width: 100px;
	top: 1px;
	left: 1px;
	border-radius: 7px;
	transition: 0.1s ease-in-out;
}

.statut .container #health.state {
	background: linear-gradient(90deg, rgba(158,0,0) 0%, rgba(158,0,0) 40%, rgba(158,0,0) 60%, rgba(158,0,0) 100%);
}

.statut .container #armor.state {
	background: linear-gradient(90deg, rgba(34, 43, 101) 0%, rgba(34, 43, 101) 40%, rgba(34, 43, 101) 60%, rgba(34, 43, 101) 100%);
}

.statut .container #thirst.state {
	background: linear-gradient(90deg, rgba(43, 122, 202) 0%, rgba(43, 122, 202) 40%, rgba(43, 122, 202) 60%, rgba(43, 122, 202) 100%);
}

.statut .container #hunger.state {
	background: linear-gradient(90deg, rgb(28, 150, 44) 0%, rgb(28, 150, 44) 100%);
}

@font-face {
	font-family: 'bebas_neuelight';
	src: url('../fonts/bebasneue-light-webfont.woff2') format('woff2'),
		url('../fonts/bebasneue-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bebas_neueregular';
	src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
		url('../fonts/bebasneue-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}